.rule__title {
  font-size: 50px;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #555859;
}

.rule__category {
  font-size: 16px;
  color: #9e9d9d;
  margin-top: -6px;
  margin-bottom: 4px;
}

.rule__description {
  margin-bottom: 0;
}

.rule__configurations, .rule__statuses {
  display: flex;
  max-width: 800px;
  margin: auto;
  justify-content: space-between;
}

.rule__configurations {
  margin-top: 2em;
}

.rule__source {
  font-size: 12px;
  color: #39babd;
  text-decoration: none;
  text-align: center;
}

.rule__configuration {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0px;
}

.rule__statuses {
  margin-top: 1em;
}

.rule__status {

}
