.rule__title {
  font-size: 50px;
  margin: 0;
  text-transform: uppercase;
  color: #555859;
}

.rule__category {
  font-size: 16px;
  color: #9e9d9d;
  margin-top: -6px;
  margin-bottom: 4px;
}

.rule__description {
  margin-bottom: 0;
}

.rule__configurations, .rule__configurations--secondary {
  display: flex;
}

.rule__configurations {
  margin-top: 1em;
}

.rule__source {
  font-size: 12px;
  color: #39babd;
  text-decoration: none;
  text-align: center;
}

.rule__configuration {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0px;
}

.rule__configuration--disabled {
  background: linear-gradient(45deg, #e60378 0%,#af005a 100%);
}

.rule__configuration--disabled:hover {
  background: linear-gradient(45deg, #cb036a 0%,#870146 100%);
}

.rule__configuration--secondary {
  font-size: 16px;
}
