$grey-medium: #9e9d9d;
$grey-dark: #555859;

:local {
  .title {
    font-size: 50;
    margin: 0;
    text-transform: uppercase;
    color: $grey-dark;
  }

  .category {
    font-size: 16px;
    color: $grey-medium;
    margin-top: -6px;
    margin-bottom: 4px;
  }

  .description {
    margin-bottom: 0;
  }

  .configurations {
    display: flex;
    margin-top: 1em;
  }

  .source {
    font-size: 12px;
    text-align: center;
  }

  .configuration {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
  }

  .configurations--other {
    composes: configurations;
    margin-top: 0;
    display: block;
  }

  /*
   * Other rules
   */

  .others__title {
    color: $grey-dark;
    margin-bottom: 0.5em;
    margin-top: 1em;
  }

  .others__show-all {
    text-align: center;
  }

  .configuration--other {
    width: 100%;
    font-size: 16px;
    margin-bottom: 1em;
  }

  .configuration--other::after {
    display: none;
  }
}
