$grey-medium: #9e9d9d;
$grey-dark: #555859;

:local {
  .title {
    font-size: 50px;
    margin: 0;
    text-transform: uppercase;
    color: $grey-dark;
  }

  .category {
    font-size: 16px;
    color: $grey-medium;
    margin-top: -6px;
    margin-bottom: 4px;
  }

  .description {
    margin-bottom: 0;

    p {
      margin-bottom: 0;
    }
  }

  .configurations {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
    margin-left: -0.5em;
    margin-right: -0.5em;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .source {
    font-size: 12px;
    text-align: center;
  }

  .configuration {
    margin: 0.5em;
  }
}
