$blue: #53a6f8;
$pink: #f92e6b;
$green: #54d054;
$grey-medium: #9a9a9a;

:local {
  .configuration {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    margin: auto;
  }

  .header {
    padding: 1em;
    background: $blue;
    color: #305e8c;
    font-weight: bold;
  }

  .tag {
    float: right;
    background: #f5da55;
    padding: 2px 4px;
    font-size: 12px;
    border-radius: 3px;
    color: #695b15;
  }

  .code {
    background: #272c33;
    flex-grow: 1;
    padding: 1.5em;
    display: flex;
    font-size: 18px;
    flex-direction: column;

    pre {
      margin: 0;
    }

    code {
      padding: 0;
    }
  }

  .info {
    width: 100%;
    height: 100px;
    flex-shrink: 0;
    box-sizing: border-box;
    background: #49515a;
    border: 0;
    padding: 1em;
    color: white;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 2px;
  }
}
