.app {
  width: 100%;
  min-height: 100%;
  display: flex;
}

.sidebar {
  width: 250px;
  flex-shrink: 0;
  padding: 0.5em 0;
  background: #fafafa;
}

.sidebar__rules {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar__rule {
  padding: 0.5em 1em;
  cursor: pointer;
  color: #555859;
}

.sidebar__rule--selected {
  background: #e4e4e4;
  cursor: default;
}

.app__view {
  padding: 2em;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.app__rule {
  min-width: 90%;
}
